/* STYLE */


main {
    display: flex;
    flex: 1;
    justify-content: center;
    scroll-behavior: smooth;
}


.main-complete-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #f7f1f0;
}


.menu-wrapper {
    width: calc(100%-300px);
}


.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./assets/images/slider.avif);
    background-size: cover;
    background-position: bottom;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}


.slider-img {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}


.slider-icon-wrapper {
    display: flex;
    justify-content: center;
    margin: 24px 0px;
}


.slider-icon {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    background-color: black;
    margin-top: -80px;
}


.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 16px;
}


.seperator {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: #342628;
    margin-bottom: 8px;
}


.menu-content-wrapper {
    padding: 0px 24px;
}


.topbar-wrapper {
    flex-grow: 1;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
    justify-content: space-around;
    background-color: #342628;
    padding: 8px 16px;
}


.topbar-tabs {
    position: sticky;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #FC4C28;
    color: #f7f1f0;
}


.topbar-tabs:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #f7f1f0;
    text-decoration-thickness: 1px;
}


.category-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}


.dishes-wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid #342628;
    border-radius: 8px;
    margin-top: 16px;
}


.dishes-wrapper:hover {
    cursor: pointer;
    background-color: #3426280a;
}


.dish-header {
    display: flex;
    align-items: center;
    gap: 16px;
}


.container-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}


.veggie-img {
    width: 24px;
    height: 24px;
}


.container-right {
    display: flex;
}


.add-btn {
    width: 40px;
    height: 40px;
    padding: 8px;
}


.add-btn:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}

.opening-hours-wrapper {
    background-color: #f7f1f0;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}


.opening-hours-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0px 32px 0px;
    font-size: 56px;
    color: #FC4C28;
}


.opening-hours-table {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}


.opening-hours {
    display: flex;
    align-items: center;
    gap: 32px;
}


.seperator-opening-hours {
    display: flex;
    margin: 64px auto;
    width: 90%;
    height: 1px;
    background-color: #342628;
}


.find-us-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 0px;
    gap: 0px;
    background-color: #f7f1f0;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}


.find-us-adress {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    gap: 8px;
}


.map-marker-icon {
    height: 24px;
    width: 24px;
}


.googlemaps {
    width: 100%;
    height: 250px;
    margin-top: 56px;
}


@media(max-width:730px) {
    .opening-hours {
        flex-direction: column;
    }
}


@media(max-width:730px) {
    .slider-icon {
        margin-top: -70px;
        height: 96px;
        width: 96px;
    }
}


@media(max-width:460px) {
    .opening-hours-header {
        text-align: center;
    }

    .topbar-tabs {
        font-size: 12px;
    }

    h2 {
        text-align: center;
    }
}