/* BUTTON */


.btn-basket-wrapper {
    display: flex;
    justify-content: center;
}


.btn-toggle-left {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px;
    border: 1px solid #342628;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}


.btn-toggle-right {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px;
    border: 1px solid #342628;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}


/* Orange Button (Active) */
.btn-active {
    background-color: #FC4C28;
}


/* Inactive Button (Gray) */
.btn-inactive {
    background-color: #ff2a000e;
}


.btn-toggle-left-mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid #342628;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}


.btn-toggle-right-mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px;
    border: 1px solid #342628;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}


.order-btn {
    width: 100%;
    border-radius: 8px;
    border: 2px solid;
    border-color: #342628;
    background-color: #FC4C28;
    padding: 8px 8px;
    font-size: 16px;
    margin: 32px 0;
    color: #f7f1f0;
}


.order-btn:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.05);
}


.add-btn {
    width: 40px;
    height: 40px;
    padding: 8px;
}


.add-btn:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}


.minus-btn {
    width: 40px;
    height: 40px;
    padding: 8px;
}


.minus-btn:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}


.dialog-close-btn {
    border-radius: 8px;
    border: 2px solid;
    border-color: #342628;
    background-color: #FC4C28;
    padding: 8px 96px;
    font-size: 16px;
    margin-top: 16px;
    color: #f7f1f0;
}


.dialog-close-btn:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}


@media(max-width:400px) {
    .btn-toggle-left-mobile {
        padding: 8px 8px;
        font-size: 12px;
    }

    .btn-toggle-right-mobile {
        padding: 8px 8px;
        font-size: 12px;
    }
}