/*  CONTACT */


.body-contact {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    margin: 0px auto;
    width: 100%;
    background-color: #f7f1f0;
}


.hero-wrapper-contact {
    display: flex;
    flex-direction: column;
    background-image: url(./assets/images/slider.avif);
}


.slider-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: bottom;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}


.headline-contact {
    display: flex;
    text-align: center;
    margin-bottom: 48px;
    padding: 0px 16px;
}


.mail-wrapper-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
}


.name-contact-wrapper {
    display: flex;
    gap: 96px;
    color: #342628;
}


form {
    display: flex;
    flex-direction: column;
    color: #342628;
    padding: 0px 16px;
}


input {
    padding: 8px 56px;
    color: #342628;
}


textarea {
    padding: 8px 56px;
    color: #342628;
    resize: none;
    overflow: auto;
    text-align: center;
}


.name-contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #342628;
}


.mail-contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
}


.phone-contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
}


.message-contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
}


.contact-method {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
    color: #342628;
}


.option-contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
    color: #342628;
}


@media(max-width:690px) {
    input {
        padding: 8px 16px;
    }
}


@media(max-width:520px) {
    input {
        padding: 8px 16px;
    }

    .name-contact-wrapper {
        flex-direction: column;
        gap: 16px;
    }
}